<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PlantNest</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
<div th:fragment="layout(content, searchBar)">
    <div th:replace="fragments/header :: header(${searchBar})"></div>

    <main class="container my-4">
        <div th:insert="${content}"></div>
    </main>
</div>
</body>
</html>